@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;

}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}
.header{
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  text-decoration: none;
}
.content{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 16px;
}
.header.footer , a{
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.left-links{
  justify-content: flex-start;
}
.right-links{
  justify-content: flex-end;
}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #eeeeee;
}

.left-links , .right-links{
  padding: 8px 16px 8px 16px;
  list-style-type:none;
  display: inline-flex;
  gap: 16px;
  flex-direction: row;
  justify-content: space-between;
  
}

